<div class="section section-download" id="#download-section" data-background-color="dark">
    <div class="container">
        <div class="row">
            <div class="text-start col-sm">
                <h3 class="title">Frontend Development</h3>
                <ul class="list-group">
                    <li class="list-group-item bg-transparent border-0 px-0" style="font-size: 22px;">
                        <a [routerLink]="['/baca']" [queryParams]="{'judul': 'html'}">Belajar HTML</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 px-0" style="font-size: 22px;">
                        <a [routerLink]="['/baca']" [queryParams]="{'judul': 'css'}">Belajar CSS</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 px-0" style="font-size: 22px;">
                        <a [routerLink]="['/baca']" [queryParams]="{'judul': 'js'}">Belajar JavaScript</a>
                    </li>
                </ul>
            </div>
            <div class="text-start col-sm">
                <h3 class="title">Backend Development</h3>
                <ul class="list-group">
                    <li class="list-group-item bg-transparent border-0 px-0" style="font-size: 22px;">
                        <a [routerLink]="['/baca']" [queryParams]="{'judul': 'php'}">Belajar PHP</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 px-0" style="font-size: 22px;">
                        <a [routerLink]="['/baca']" [queryParams]="{'judul': 'nodejs'}">Belajar NodeJS</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 px-0" style="font-size: 22px;">
                        <a [routerLink]="['/baca']" [queryParams]="{'judul': 'laravel'}">Belajar Laravel</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>