<div class="wrapper">
    <div class="page-header clear-filter" filter-color="purple">
        <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/pngtree-web-development-illustration-modern-can-be-used-for-landing-pages-web-png-image_1496210 1.png');"></div>
        <div class="container">
            <div class="content-center text-left brand" style="left: 45%;">
                <h1 style="font-weight: 800;">Hi, Selamat Datang di ElangCode</h1>
                <h3 style="font-weight: 600;">ElangCode disini ingin membantu kamu untuk belajar pemrograman bareng bersama kami </h3>
            </div>
        </div>
    </div>
  
    <div class="main">
        <app-code></app-code>
        <app-footer></app-footer>
    </div>
    <footer class="footer" data-background-color="dark">
        <div class="container">
            <div class="copyright">
                &copy; {{data | date: 'yyyy'}}, Designed by ElangCode
            </div>
        </div>
    </footer>
  </div>
  